<!DOCTYPE html>
</html>


<%- include('layouts/header'); -%>

<body class="page">

    <%- include('layouts/navbar'); -%>


    <% if(title) { %>
        <h1>
            <%= title %>
        </h1>
    <%} %>


    <!-- Scripts -->
    <%- include('layouts/scripts'); -%>

</body>
</html>
